/*universal*/
html{
  font-family: helvetica, sans-serif;
  font-size: 18px;
  color:white;
}

.container{
  width:960px;
  margin: auto;
}

/*title*/

.title{
  background-color: black;
}
.title .container{
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.title img{
  height: 1.5rem;
  padding-left: 0.5rem;
  display: inline-block;
}
.title h4{
  padding: .66rem 0 .66rem 0;
  margin-left: 1rem;
}
/*New Arrival*/
.new_items{
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 25rem;
}

.new_items_text{
  position: relative;
  top: 9rem;
  width: 20rem;
  background-color: black;
  background-repeat: no-repeat;
  font-weight: bold;
  padding: 2rem 3rem;
}
.new_items_text h4{
  padding-bottom: 0.25rem;
}
.new_items_text h1{
  font-size: 2rem;
}
/*Menu*/

ul{
  display:flex;
  justify-content: space-between;
}
.menu{
  background-color: firebrick;
}
.menu a{
  text-decoration: none;
  color: white;
}
li{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.mobile{
  display: none;
}
/*items*/

.items{
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  margin-bottom: 3rem;
}
.pen,
.watch,
.glass{
  display: flex;
  border: 4px solid black;
  width:30%;
  flex-direction: column;
  justify-content: center;
}
.items img{
  height:9rem;
  padding: 2rem 1rem;
}

.items h4{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: black;
  text-align: center;
}
/*contact*/
.contact{
  margin-bottom: 4rem;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.location,
.hour{
  width:35%;
}

.contact h4{
  background-color: black;
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.contact p{
  color:black;
}

/*footer*/
.footer{
  display: flex;
  background-color: black;
  height: 5rem;
  align-items: center;
 }

/*resonsive website codes*/
@media only screen and (max-width: 1024px) {
 /* menu */
 .desktop li {
   display: none;
 }
.mobile a{
  display:block;
}
.menu .mobile{
  display:flex;
  justify-content: center;
}

  /*items*/
  .glass{
    display: none;
  }
  .pen,
  .watch{
    width: 47%;
  }
}

@media only screen and (max-width: 470px){

/*universal*/
.container{
  width: auto;
}
/*new items*/
  .new_items{
    height: 15rem;
  }
  .new_items_text{
    top: 10rem;
    padding: 1rem 2rem;
  }
  .new_items_text h4{
    font-size: 0.77rem;
    padding-bottom: 0.25rem;
  }
  .new_items_text h1{
    font-size: 1rem;
  }

/*items*/
  .watch{
    display:none;
  }
  .pen{
    width: 90%;
  }
/*contact*/
  .location,
  .hour{
    width: 90%;
  }
  .hour{
    margin-top: 0.5rem;
  }

  /*footer*/
.footer{
  justify-content: center;
}

}
